body{
  margin: 0;
  font-family: segoe UI;
}

.header-area{
  background-color: #2C323C;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #FFF;
}

.container{
  width: 60%;
  margin: auto;
}

.header-area img{
  width: 100px;
  height: auto;
}

.header-area p{
  font-size: 14px;
}

.header-area h1{
  font-size: 40px;
  text-transform: uppercase;
}

.header-area a i{
  color: #FFF;
  font-size: 12px;
  height: 12px;
  width: 12px;
  padding: 6px 6px;
  border: 1px solid #FFF;
  border-radius: 50%;
}
